/*
=============== 
Variables
===============
*/
:root {
  /* Primary Colors */
  --Cyan: hsl(179, 62%, 43%);
  --Light-Cyan: hsl(179, 56%, 57%);
  --Bright-Yellow: hsl(71, 73%, 54%);

  /* Neutral Colors */
  --Light-Gray: hsl(204, 43%, 93%);
  --Grayish-Blue: hsl(218, 22%, 67%);
}

/*
=============== 
Global Styles
===============
*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: var(--Light-Gray);
  padding: 3rem 2rem 5rem 2rem;
  font: 16px Karla, sans-serif; /*font-family & font-size */
}
main {
  width: 20em;
  height: auto;
  margin: auto;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 0.5em;
  overflow: hidden;
}

/*
=============== 
Card Styles
===============
*/
.section-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  transition: 0.7s ease;
}
.top-section {
  background-color: white;
  padding: 2em 0.2em 0 1.5em;
  height: 17em;
}
.left-section,
.right-section {
  grid-column-start: 1;
  grid-column-end: 2;
  padding: 0.5em 1.5em;
}
.left-section {
  background-color: var(--Cyan);
}
.right-section {
  background-color: var(--Cyan);
  opacity: 0.8;
}
.top-section p {
  font-size: 0.9em;
  margin: 1em 1.2em 0 0;
  color: var(--Grayish-Blue);
  line-height: 1.7em;
  opacity: 0.7;
}
.right-section ul {
  margin-bottom: 1.5em;
  margin-top: 1.5em;
}
h1 {
  color: var(--Cyan);
  font-size: 1.3em;
}
h2 {
  color: var(--Bright-Yellow);
  font-size: 0.9em;
  margin-top: 2em;
  margin-right: 1em;
}
h3 {
  font: 400 1.3em; /*font-weight & font-size */

  /* font-size: 1.2em; */
  padding-top: 1em;
}
p {
  line-height: 1.4em;
}
button {
  width: 100%;
  margin: 2em 0 1.2em 0;
  font-size: 1em;
  height: 3.3em;
}
span {
  font-size: 2em;
}
button {
  background-color: var(--Bright-Yellow);
  border: none;
  border-radius: 0.3em;
  width: 100%;
  height: 3.5em;
  cursor: pointer;
  box-shadow: rgb(107, 113, 119) 0px 10px 30px -10px;
  margin-top: 2em;
  transition: background-color 400ms, color 300ms, transform 500ms;
}
button:hover {
  background-color: white;
  color: var(--Bright-Yellow);
  transform: scale(1.01);
}
h3,
span,
button {
  color: white;
}
ul {
  list-style: none;
}
p,
li {
  color: var(--Light-Gray);
  line-height: 1.5em;
  opacity: 0.9;
  font-size: 0.9em;
}
.left-section p {
  margin-top: 1.5em;
}
.big-txt {
  font-size: 2em;
}
.light-txt {
  opacity: 0.4;
  font-size: 1em;
  margin-left: 1em;
}
.span-txt {
  margin-top: 1.5em;
  display: flex;
  align-items: center;
}
.description {
  opacity: 0.9;
}

/*
===============
Footer Styles
===============
*/
footer {
  flex: none;
  bottom: 0px;
  position: absolute;
  text-align: center;
}
.attribution,
a {
  color: var(--Grayish-Blue);
}
a {
  font-weight: bold;
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: var(--Cyan);
}
a:active {
  text-decoration: none;
}

/*
==================
Responsive Styles
==================
*/
@media (min-width: 750px) {
  main {
    width: 40em;
  }
  .section-container {
    grid-template-columns: repeat(
      2,
      minmax(0, 1fr)
    ); /*The columns to be the exact same width*/
    grid-template-areas:
      'community community'
      'monthly why-us';
  }
  .top-section {
    grid-area: community;
    height: 14em;
  }
  .left-section {
    grid-area: monthly;
  }
  .right-section {
    grid-area: why-us;
  }
  .left-section,
  .right-section {
    padding: 1em 0 0 2.5em;
  }
  .top-section p {
    margin-top: 0.8em;
    font-size: 0.9em;
  }
  .top-section,
  .left-section,
  .right-section {
    width: 100%;
    padding: 1em 2.5em 0 2.5em;
  }
  .right-section ul {
    margin-top: 1em;
  }
  h1 {
    font-size: 1.6em;
    margin-top: 1em;
  }
  h2 {
    font-size: 1.2em;
    margin-top: 1.5em;
  }
  h3 {
    padding-top: 0.5em;
  }
  button {
    height: 3em;
  }
}
